{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {{ title|capfirst }}
        {% endblock title %}
    </title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock css %}

    {% block js %}
    {% endblock js %}

</head>

<body>
    <div class="container">

        {% block menu %}
        {% endblock menu %}

        <div class="content">
        {% block content %}
        {% endblock content %}
        </div>

    </div>

    {% block footer %}
    <div class="footer">
        <p class="small">&copy; Mesrop Tarkhanyan 2023</p>
        <div class="social">
            <a href="https://www.facebook.com/mesropt/" class="social1"></a>
            <a href="https://t.me/mesropt" class="social2"></a>
        </div>
    </div>
    {% endblock %}

</body>

</html>