{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
<div class="slider">
    <div class="header clearfix">
        {% include 'mainapp/includes/inc_menu.html' %}
    </div>
    <div class="text-slider">
        <h3 class="big"> Mesrop Tarkhanyan</h3>
        <p>Python Developer from Yerevan, Armenia</p>
        <a href="/about" class="button-order">
            about
            <img src="{% static 'img/arrow.png' %}" alt="">
        </a>
    </div>

</div>
{% endblock %}


{% block content %}

<div class="clr"></div>
{% endblock %}